 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f2ff;
  margin: 0;
}
header {
  background: #ff7a7a;
  color: white;
  text-align: center;
  padding: 20px;

}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
}

h1{
  color: #white;
  margin-bottom:15px;
}

p{
  color:#555;
  margin-bottom:25px;
  line-height:1.5;
}

.rules{
  text-align:left;
  margin-bottom:25px;

  background:#fff0f7;

  padding:15px;
  border-radius:10px;
}

.rules h3{
  color:#ff4fa3;
  margin-bottom:10px;
}

.rules ul{
  padding-left:20px;
  color:#444;
}

.rules li{
  margin-bottom:8px;
}

.checkbox-area{
  display:flex;
  align-items:flex-start;
  gap:10px;

  margin-top:20px;
  margin-bottom:25px;

  text-align:left;
}

.checkbox-area input{
  margin-top:4px;
  transform:scale(1.2);
  cursor:pointer;
}

.telegram-btn{
  display:inline-block;
  width:100%;

  padding:14px;

  border-radius:12px;

  background:#229ED9;

  color:white;
  text-decoration:none;

  font-size:17px;
  font-weight:bold;

  transition:0.3s;

  opacity:0.5;
  pointer-events:none;
}

.telegram-btn.active{
  opacity:1;
  pointer-events:auto;
}

.telegram-btn:hover{
  background:#1b87b8;
  transform:scale(1.03);
}

@keyframes fadeIn{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}
header p {
    margin: 5px 0 0 0;
    font-size: 1.2em;
}
.btn {
    display: inline-block;
    padding: 15px 35px;
    margin: 10px;
    background-color: #fae3d9;
    color: #333;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #ffb6b9;
    color: #fff;
    transform: translateY(-3px);
}
